# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# macOS specific files
.DS_Store

# Editor-specific files
.vscode/
*.sublime-*
*.swp

# Test and coverage reports
coverage/

# Compiled output
lib/

# OS-specific files
.DS_Store
Thumbs.db
